<!-- extras/ui/templates/settings-header.html -->
<!DOCTYPE html>
<html lang="{{LANG_CODE}}">
<head>
  <meta charset="utf-8">
  <title>{{TXT_SETTINGS}}</title>
  <link rel="stylesheet" href="/groqbash-gui/static/gui-style-{{THEME}}.css">
</head>

<body>
<header class="topbar">
  <nav>
    <span class="glogo">GroqBash⁺</span><span class="uilogo">GUI</span>
    <a href="?page=main&lang={{LANG_CODE}}">{{TXT_HOME}}</a> |
    <a href="?page=settings&lang={{LANG_CODE}}">{{TXT_SETTINGS}}</a>
  </nav>
</header>

<main>
<h1>{{TXT_SETTINGS}}</h1>
